:root {
    --body-bg-color: hsl(185, 75%, 39%); //Dark cyan
    
    --text-primary-title: hsl(229, 23%, 23%); //Very dark desaturated blue
    --text-primary-subtitle: hsl(227, 10%, 46%); //Dark grayish blue
    --text-dark: hsl(0, 0%, 59%); //Dark gray
    
    
    --clr-gray-light: hsl(0, 0%, 80%); //Light gray
}